# Processor Service Environment Variables

PG_HOST=localhost
PG_PORT=5433
PG_USER=processor_user
PG_PASSWORD=processor_password
PG_DB=processor_db
# DATABASE_URL=postgresql+asyncpg://processor_user:processor_password@processor_db:5432/processor_db

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
ORDER_CREATED_TOPIC=order.created
ORDER_PROCESSED_TOPIC=order.processed

SERVICE_NAME=processor_service
DEBUG=false
